<!DOCTYPE html>
<html>
  <head>
    <title>Cam's Map</title>
    <meta name="viewport" content="intial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #mapcanvas {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0%
      }

      #textbox {
        position: absolute;
        bottom: 5px;
        right: 50px;
        color: white;
        background-color: black;
        padding: 5px;
        text-align: center;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="mapcanvas"></div>
    <script id="mapcode">
        //global variables
        var map, infoWindow, textResponse, directionsService, directionsDisplay;
        var distance = 0;
		var points = [];


        function initMap() {
            var options = {
                zoom: 16,
                center: new google.maps.LatLng(40.0007, -83.07003),
                mapTypeId: google.maps.MapTypeId.MAP
            }

            map = new google.maps.Map(document.getElementById("mapcanvas"), options);
            infoWindow = new google.maps.InfoWindow;
			directionsService = new google.maps.DirectionsService();
			directionsDisplay = new google.maps.DirectionsRenderer();

			directionsDisplay.setOptions({draggable: true,  preserveViewport: true});
			directionsDisplay.setMap(map);

            //Try HTML5 Geolocation
            if(navigator.geolocation){
              //TODO: set the position of the map to the location (maybe only if a button is pressed on the javaFX app?)
              console.log("Geolocation is working");
              navigator.geolocation.getCurrentPosition(function(position){
                  var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                  };

                  map.setCenter(pos);
              }, function() {
				  console.log("Error, geolocation could not find your position");
			  });

            } else {
              console.log("Error, geolocation service failed");
            }


		    //listen for click, and recalculate route with new waypoint
	        var pos, res;
            google.maps.event.addListener(map,'click', function(event) {
              //var circle = new google.maps.Circle({center: event.latLng, map: map, radius: 10, strokeWeight: 1});
			  points.push(event.latLng);
			  updateMap();

			 });
			
        }

		function updateMap() {
			  //calculate waypoints
			  var waypoints = [];
			  points.slice(1, points.length-1).forEach(function(pt){
				waypoints.push({
					location: pt, stopover: true
				});
			  });

			  //create directions request
			  var request = {
				origin: points[0],
				destination: points[points.length - 1],
				travelMode: 'WALKING',
				waypoints: waypoints,
				optimizeWaypoints: false, 
				provideRouteAlternatives: false, 
				unitSystem: google.maps.UnitSystem.IMPERIAL
			  };

			  //display directions result
			  distance = 0;
			  directionsService.route(request, function(result, status){
				if(status=="OK"){
					//result.routes = result.routes[0];
					directionsDisplay.setDirections(result);
					result.routes[0].legs.forEach(function(leg){
						distance += leg.distance.value;
					});
					console.log(distance*0.000621371 + " mi.");
					document.getElementById("textbox").innerHTML = "Distance: " + (distance*0.000621371).toFixed(2) + " mi.";
				} 

			 });
		}
			
		function loopRoute() {
			points.push(points[0]);
			updateMap();
		}

		function clearAllPoints() {
			//for(var i=0; i<points.length; i++){
				
			//}

			directionsDisplay.setMap(null);		
	
			points = [];
			distance = 0;
			document.getElementById("textbox").innerHTML = "Distance: 0.00 mi."; //maybe make this a function
			initMap();
		}	


    </script>
    <p id="textbox">Distance: 0.00 mi.</p>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5_YFbGp2bLEB1zObhjeOE6IPeAVVWdqY&callback=initMap"
    async defer></script>
  </body>
</html>
