<!DOCTYPE html>
<html>
  <head>
    <title>Cam's Map</title>
    <meta name="viewport" content="intial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #mapcanvas {
        height: 100%;
        width: 100%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="mapcanvas"></div>
    <script>
        var map, infoWindow, textResponse, directionsService, directionsDisplay;
		var points = [];

        function initMap(){
            var options = {
                zoom: 16,
                center: new google.maps.LatLng(40.0007, -83.07003),
                mapTypeId: google.maps.MapTypeId.MAP
            }

            map = new google.maps.Map(document.getElementById("mapcanvas"), options);
            infoWindow = new google.maps.InfoWindow;
			directionsService = new google.maps.DirectionsService();
			directionsDisplay = new google.maps.DirectionsRenderer();

			directionsDisplay.setMap(map);

			console.log("HERE");
            //Try HTML5 Geolocation
            if(navigator.geolocation){
              //TODO: set the position of the map to the location (maybe only if a button is pressed on the javaFX app?)
              console.log("Geolocation is working");

            } else {
              console.log("Error, geolocation service failed");
            }


          var pos;
		  var waypoints = [];
          google.maps.event.addListener(map,'click', function(event) {
              //console.log(event.latLng.lat() + ', ' + event.latLng.lng());
              //var marker = new google.maps.Marker({position: event.latLng, map: map});
              var circle = new google.maps.Circle({center: event.latLng, map: map, radius: 10, strokeWeight: 1});
			  points.push(event.latLng);
			  console.log(points[points.length-1].lat());
			  //console.log(waypoints[waypoints.length - 1].lat() + ", " + waypoints[waypoints.length - 1].lng());

			  //calculate waypoints
			  points.slice(1, points.length-1).forEach(function(pt){
				waypoints.push({
					location: pt, stopover: false
				});
			  });
			 
			  var request = {
				origin: points[0],
				destination: points[points.length - 1],
				travelMode: 'WALKING',
				waypoints: waypoints,
				optimizeWaypoints: false, 
				provideRouteAlternatives: false, 
				unitSystem: google.maps.UnitSystem.IMPERIAL
			  };

			 directionsService.route(request, function(result, status){
				if(status=="OK"){
					directionsDisplay.setDirections(result);
				} 

				console.log(status);
			 });
			
          });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5_YFbGp2bLEB1zObhjeOE6IPeAVVWdqY&callback=initMap"
    async defer></script>
  </body>
</html>
